# fly.toml app configuration file generated for realestate-react-ancient-meadow-8900 on 2023-11-30T23:31:14+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "realestate-react-ancient-meadow-8900"
primary_region = "cdg"

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
